<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WeatherApp - Omkar Deshmukh</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body style="padding-top: 0;">
    {% include 'includes/_navbar.html' %}
    <div class="container">
      <div class="myflash">
        {% include 'includes/_messages.html' %}
      </div>

      <div class="container-fluid">
        {% block body %}{% endblock %}
      </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Script to refresh cities -->
    <script type="text/javascript">
    function refresh_cities()
    {
        window.top.location.reload();
    }
    </script>

    <!-- Script to make the flash messages disappear after some time -->
    <script>
      setTimeout(function()
      {
        $(".myflash").fadeOut(500);
      }, 3000);
    </script>

  </body>
</html>
